<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="bg-gray-900">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500"
                        alt="">
                </a>
            </div>
            <div class="flex lg:hidden">
                <button type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
                    <span class="sr-only">Open main menu</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                <a href="/shop" class="text-sm/6 font-semibold text-white">Shop</a>
                <a href="#" class="text-sm/6 font-semibold text-white">About</a>
                <a href="#" class="text-sm/6 font-semibold text-white">Contact</a>
                <a href="/cart" class="text-sm/6 font-semibold text-white">Cart</a>
            </div>
            <div id="" class="hidden lg:flex lg:flex-1 lg:justify-end login-logout-btn">
                <!-- <a href="/loginPage" class="text-sm/6 font-semibold text-white">Log in <span aria-hidden="true">&rarr;</span></a> -->

            </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div class="lg:hidden" role="dialog" aria-modal="true">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="fixed inset-0 z-10"></div>
            <div
                class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
                <div class="flex items-center justify-between">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Your Company</span>
                        <img class="h-8 w-auto"
                            src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500" alt="">
                    </a>
                    <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
                        <span class="sr-only">Close menu</span>
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-gray-500/25">
                        <div class="space-y-2 py-6">
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-gray-800">Shop</a>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-gray-800">About</a>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-gray-800">Contact</a>
                            <a href="/cart"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-gray-800">Cart</a>
                        </div>
                        <div class="py-6 login-logout-btn">
                            <!-- <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-white hover:bg-gray-800">Log in</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="error-bar-success" class="hidden items-center justify-center flex">
        <p class="bg-green-500 text-white p-3 mt-2">Item Added Successfully</p>
    </div>
    <div id="error-bar-falure" class="hidden items-center justify-center flex">
        <p class="bg-red-500 text-white p-3 mt-2">Encountered An Error Please try again later</p>
    </div>
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
                <!-- Image gallery -->
                <div class="flex flex-col-reverse">
                    <!-- Image selector -->
                    <div class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
                        <div id="multipleImagesContainer" class="grid grid-cols-4 gap-6" aria-orientation="horizontal" role="tablist">
                            <!-- More images... -->
                        </div>
                    </div>

                    <div>
                        <!-- Tab panel, show/hide based on tab state. -->
                        <div id="tabs-1-panel-1" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
                            <img id="displayImage" src=""
                                alt=""
                                class="aspect-square w-full object-cover sm:rounded-lg">
                        </div>

                        <!-- More images... -->
                    </div>
                </div>

                <!-- Product info -->
                <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
                    <h1 id="productName" class="text-3xl font-bold tracking-tight text-gray-900"></h1>
                    <div class="mt-3">
                        <p id="productPrice" class="text-3xl tracking-tight text-gray-900"></p>
                    </div>
                    <div class="relative inline-flex items-center">
                        <span
                            class="absolute inset-0 w-auto h-px bg-gray-900 top-1/2 transform -translate-y-1/2"></span>
                        <span id="productDiscountedPrice" class="bg-white text-gray-800 font-semibold text-lg"></span>
                    </div>
                    <div class="mt-6">
                        <h3 class="sr-only">Description</h3>
                        <div class="space-y-6 text-base text-gray-700">
                            <p id="productDescription"></p>
                        </div>

                    </div>
                    <!-- <div class="grid w-full max-w-16 grid-cols-1 mt-4">
                        <p class="space-y-6 text-base text-gray-700">Quantity</p>
                        <input type="number" required min="1" id="ItemQuantity" class="col-start-1 row-start-1 appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" type="number">
                    </div> -->

                    <form class="mt-6" id="AddToCartBtn" method="post">
                        <div class="grid w-full max-w-16 grid-cols-1 mt-4">
                            <p class="space-y-6 text-base text-gray-700">Quantity</p>
                            <input type="number" required min="1" id="ItemQuantity" class=" col-start-1 row-start-1 appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm" type="number">
                        </div>
                        <div class="mt-10 flex">
                            <button type="submit"
                                class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full">Add
                                to cart</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/JavaScripts/customer/ViewItem.js"></script>
</body>

</html>